@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import 'swiper/css';
@import 'swiper/css/pagination';
@import "tailwindcss";

html,
body {
  font-family: "Inter", sans-serif;
  background-color: #EDF1F4;
}


.booking-header path {
  fill: purple !important; 
}

.default-header path {
  fill: white !important;
}
