/* Custom DatePicker Styles */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-popper {
  z-index: 50 !important;
}

.react-datepicker {
  font-family: inherit;
  border-radius: 0.75rem;
  border: 1px solid #e5e7eb;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.react-datepicker__header {
  background-color: white;
  border-bottom: 1px solid #f3f4f6;
  border-radius: 0.75rem 0.75rem 0 0;
  padding-top: 1rem;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range {
  background-color: #01357e !important;
  color: white !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #2c8dc7 !important;
  color: white !important;
}

.react-datepicker__day:hover {
  background-color: #f3f4f6;
}

.react-datepicker__day--disabled {
  color: #ccc !important;
  pointer-events: none;
}

.react-datepicker__month-container {
  float: left;
}

.react-datepicker {
  display: flex !important;
  flex-direction: row !important;
}

.react-datepicker__month-wrapper {
  display: flex;
}
